<!DOCTYPE html>
<html>
  <head>
    <title>RunChart</title>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=" + Rails.application.credentials[:google][:maps_key] + "&libraries=geometry" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="styles-store"></div>
    <%= yield %>
  </body>
</html>
